[submodule "vendor/glfw"]
	path = engine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/glm"]
	path = engine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/spdlog"]
	path = engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/imgui"]
	path = engine/vendor/imgui
	url = https://github.com/vicarsen/imgui.git
    branch = docking
[submodule "vendor/implot"]
	path = engine/vendor/implot
    url = https://github.com/vicarsen/implot.git

[submodule "tests/vendor/googlebenchmark"]
	path = tests/vendor/googlebenchmark
	url = https://github.com/google/benchmark.git
[submodule "engine/vendor/jemalloc"]
	path = engine/vendor/jemalloc
	url = https://github.com/jemalloc/jemalloc-cmake.git
